#build {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#champ {
  flex: 1;
  margin-left: 4%;
}

#specs {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  margin-left: 4%;
}

#abilities {
  flex-wrap: nowrap;
}

#build_buttons {
  flex: 3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  margin-right: 4%;
  margin-left: 4%;
}

#generate {
  height: 19em;
  margin-bottom: 1em;
}

#rift, #abyss {
  height: 4em;
}

#activeButton {
  height: 400px;
}
